<main class="contenedor">
    <form method="POST" class="default-form">
    <input type="hidden" name="_csrf" value="{{csrfToken}}">
        
        <div class="campo">
            <label>Nueva Contraseña</label>
            <input type="password" name="password" placeholder="Tu Nuvea Contraseña" required>
        </div>
        <div class="campo">
            <input type="submit" value="Guardar Contraseña" class="btn btn-azul">
        </div>
        
    </form>
</main>