<main class="contenedor">
    <form action="/reestablecer-password" method="POST" class="default-form">
    <input type="hidden" name="_csrf" value="{{csrfToken}}">
        
        <div class="campo">
            <label>Email</label>
            <input type="email" name="email" placeholder="Tu email" required>
        </div>
        <div class="campo acciones">
            <a href="/iniciar-sesion">Volver a Iniciar Sesión</a>
        </div>

        <div class="campo">
            <input type="submit" value="Reestablecer Contraseña" class="btn btn-azul">
        </div>
        
    </form>
</main>